.container {
  @apply p-6 rounded-lg text-center;
  @apply bg-green-200 border-2 border-green-300;
  border-style: dashed;
  h4 {
    @apply mb-4;
  }
  p {
    @apply mb-4;
  }
}

.input {
  @apply w-full bg-white p-3 rounded-md mr-2 mb-2;
  @apply font-sans text-lg text-gray-700;
}

.btn {
  @apply w-full bg-green-500 p-3 pr-5 pl-5 rounded-md mr-2 text-white;
}

.error {
  @apply bg-red-200 border-2 border-red-300 rounded-md text-left p-3 mb-4;
  border-style: dashed;
}

.message {
  @apply bg-yellow-200 border-2 border-yellow-400 rounded-md text-left p-3 mb-4;
  border-style: dashed;
}

@screen sm {
  .input {
    @apply w-auto flex-1 mb-0;
  }

  .btn {
    @apply w-auto;
  }
}
