.container {
  @screen md {
    @apply flex flex-wrap items-start justify-between;
    @apply ml-auto mr-auto pt-6;
    max-width: 1280px;
  }
}

.item {
  @apply flex self-stretch mb-6;
  @apply ml-auto mr-auto;
  max-width: 420px;

  @screen md {
    @apply w-1/3 mb-6 pl-2 pr-2;
  }

  @screen xl {
    @apply pl-6 pr-6;
  }
}

.floater {
  @apply flex flex-1;
}

.link {
  @apply flex-1 flex flex-col justify-between;
  @apply p-4 text-gray-700;
  @apply rounded-lg border border-gray-300;

  @screen xl {
    @apply p-8;
  }

  h3 {
    @apply mb-5 text-2xl text-teal-500;
  }
}

.hero {
  @apply relative w-full;
  padding-bottom: 50%;

  img {
    @apply block absolute max-w-full max-h-full;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.meta {
  @apply flex items-center;
  @apply text-gray-700 uppercase text-sm;
}
