.offset {
  height: 130px;

  @screen sm {
    height: 94px;
  }
}

.container {
  height: 130px;
  padding: 75px 0 0 12px;
  background: rgba(255, 255, 255, 0.9);
  @apply fixed z-20 top-0 left-0 right-0 flex items-center pr-4;

  &.hide {
    transform: translateY(-100%);
    opacity: 0;
    animation: float-up 0.2s linear;
    overflow: hidden;
  }

  &.show {
    transform: translateY(0);
    opacity: 1;
    animation: float-down 0.2s linear;
    overflow: visible;
  }

  canvas {
    @apply absolute top-0 left-0;
    z-index: -1;
    width: 300px;
    height: 200px;
  }

  @screen sm {
    height: 94px;
    padding: 5px 0 6px 0;
    @apply flex flex-row;
  }
}

.nav {
  @apply flex items-center;
  @apply text-gray-700;

  a {
    @apply p-3 text-gray-700;
    &.active {
      @apply font-bold;
    }
  }

  @screen sm {
    @apply ml-auto mr-3;
  }

  @screen lg {
    a {
      @apply text-lg p-4;
    }
  }
}

.break {
  width: 1px;
  @apply bg-gray-300 h-6 ml-3 mr-3;
}

@keyframes float-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes float-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
