.floater {
  transition: transform opacity 0.3s;
}

.hide {
  transform: translateY(20px);
  opacity: 0;
}

.show {
  animation: float-up 0.3s linear;
}

@keyframes float-up {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
