@import url("https://fonts.googleapis.com/css?family=Titillium+Web:200,300,600");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  line-height: 1.6;
  overflow-x: hidden;
  @apply font-sans text-gray-700;
}

* {
  box-sizing: border-box;
}

a {
  color: #3182ce;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}

.button {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 2rem;
  border: 1px solid #ddd;
  border-radius: 1rem;
  text-decoration: none;
}

.button svg {
  font-size: 0.8em;
  margin-right: 8px;
}
