@import url("https://fonts.googleapis.com/css?family=Titillium+Web:200,300,600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  line-height: 1.6;
  overflow-x: hidden;
  @apply font-sans text-gray-700;
}

.content {
  @apply ml-auto mr-auto pr-4 pl-4;
  max-width: 960px;
  &_sm {
    max-width: 720px;
  }
  &_lg {
    max-width: 1280px;
  }
}

* {
  box-sizing: border-box;
}

a {
  @apply text-blue-600;
}

.pixel-transition {
  height: 78px;
  background-image: linear-gradient(to right, white 90%, transparent 90%),
    linear-gradient(white, white),
    linear-gradient(to right, white 80%, transparent 80%),
    linear-gradient(white, white),
    linear-gradient(to right, white 50%, transparent 50%),
    linear-gradient(to right, white 20%, transparent 20%),
    linear-gradient(to right, white 10%, transparent 10%);
  background-size: 40px 4px, 10px 8px, 40px 8px, 10px 8px, 40px 12px, 40px 8px,
    40px 4px;
  background-position: 0 0, 0 4px, 24px 12px, 0 20px, 10px 28px, 36px 54px,
    18px 74px;
  background-repeat: repeat-x;
}

.profile {
  @apply w-32 rounded-full overflow-hidden;
  &_sm {
    @apply w-16 rounded-full overflow-hidden;
  }
}

h1 {
  @apply font-bold tracking-tight leading-tight text-2xl;
  @screen sm {
    @apply text-3xl;
  }
  @screen md {
    @apply text-4xl;
  }
  @screen lg {
    font-size: 2.75rem;
  }
}

h2 {
  @apply text-2xl font-bold tracking-tight leading-snug;
  @screen md {
    @apply text-3xl;
  }
  @screen lg {
    @apply text-4xl;
  }
}

h3 {
  @apply text-xl font-bold tracking-tight leading-snug;
  @screen md {
    @apply text-2xl;
  }
  @screen lg {
    @apply text-3xl;
  }
}

h4 {
  @apply text-xl font-bold tracking-tight leading-snug;
}

p {
  @screen lg {
    @apply text-lg;
  }
}

ul {
  @apply list-disc mb-4 ml-4;
}

li {
  @apply mb-2;
}

ol {
  @apply list-decimal mb-4 ml-4;
}

p {
  @apply text-lg mb-8;
}

.article {
  h2,
  h3 {
    @apply mb-8 mt-10 ml-6 mr-6;
  }

  pre {
    @apply p-8 pl-10 mb-8 mt-8;
    @apply rounded-md;
  }

  p {
    @apply text-lg;
    @apply mb-8 ml-12 mr-12;

    code {
      font-size: 0.9em;
      padding: 0.1em 0.3em;
      @apply bg-gray-300 text-gray-800;
    }
  }

  ul {
    @apply text-lg mb-8 ml-12 mr-12;
  }

  ol {
    @apply text-lg mb-8 ml-12 mr-12;
  }

  .img {
    @apply mt-10 mb-10;
    img {
      @apply w-full;
    }
    em {
      @apply block mt-3 text-center text-gray-500;
    }
  }

  table {
    @apply w-full mt-10 mb-10;
  }

  th {
    @apply text-left p-2;
  }

  td {
    @apply p-2;
  }

  tr:nth-child(odd) td {
    @apply bg-gray-200;
  }
  tr:nth-child(even) td {
    @apply bg-gray-100;
  }
}

.off-screen {
  position: absolute;
  left: -5000px;
}
